.cabeça {display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5px;}

.cabeçaLi {display: inline-block;
       font-size: 2rem; 
       padding-top: 2rem; 
       padding-bottom: 2rem;
       padding-right: 5px;
       color: white;}

header {background-color:rgb(23, 26, 33);
        background-size: cover;}

main   {background-image: url(../imagens/cv.jpg);
        background-size: cover; 
        display: block;
        color: white;}

footer {background-color: rgb(23, 26, 33); padding: 1rem;}

form {padding: 3rem;}

form label {display: block;
            font-size: 20px;
            padding-bottom: 1rem;}

.input-padrão {display: block;
               padding-bottom: 2rem;
               margin-bottom: 2rem;
               width: 80%;}           

.submit {display: block;
        margin-bottom: 2rem;}

.copyright {text-align: center; 
            color: white;}
        
